.banks-list {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
    padding-bottom: 100px;
    position: relative;
    height: 100vh;
    overflow: auto;
}

.banks-list__title {
    text-align: center;
}

.bank,
.bank-template {
    padding-top: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
    margin-right: 25px;
    position: relative;
    min-height: 350px;
    max-height: 400px;
    background-color: rgba(252, 252, 252, .89);
    box-shadow: 0 0 15px gray;
}

.bank__delete-btn,
.bank__settings {
    position: absolute;
    background-color: transparent;
    right: 10px;
    opacity: .3;
    transition: all .3s linear;
    &:hover {
        opacity: 1;
    }
}

.bank__delete-icon,
.bank__settings-icon {
    width: 25px;
    height: 25px;
}

.bank__settings {
    top: 10px;
    color: #000;
}

.bank__delete-btn {
    bottom: 10px;
}


.bank__logo-icon {
    width: 60px;
    height: 60px;
    display: block;
    margin: auto;
}

.bank__name {
    font-size: 2rem;
    text-align: center;
    line-height: 0;
    margin-bottom: 80px;
}

.bank-indicators {
    padding: 10px 30px;
}

.bank-indicators__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bank-indicators__name-wrapper {
    display: flex;
    align-items: center;
}

.bank-indicators__icon {
    margin-right: 15px;

}

.bank-indicators__name {
    margin-right: 35px;
    font-size: 1.3rem;
}

.bank-template__title {
    text-align: center;
    line-height: 0;
    margin-bottom: 40px;
}

.bank-template__set-name-title {
    text-align: center;
    margin-bottom: 10px;

}


.bank-template__set-name {
    width: 60%;
    display: block;
    margin: auto;
    height: 40px;
    font-size: 1.6rem;
    padding: 0 10px;
    border-radius: 8px;
    border: 1px solid gray;

}

.bank-indicators__value {

}

.bank-template {
    position: relative;
}

.bank-template__indicator-wrapper {
    display: flex;
    align-items: center;
}

.bank-template__set-indicator-value {
    width: 120px;
    height: 20px;
    margin-right: 10px;

}

.template-bank__btn-wrapper {
    position: absolute;
    bottom: 10px;
    right: 30px;

}

.template-bank__cancel-btn,
.template-bank__save-btn {
    width: 75px;
    height: 35px;
    border-radius: 4px;
    transition: all .3s linear;
    
}

.template-bank__save-btn {
    margin-right: 10px;
    background-color: #537b35;

    &:hover {
        box-shadow: 0 0 10px #537b35
    }
}

.template-bank__cancel-btn {
    background-color: #ce181e;
    &:hover {
        box-shadow: 0 0 10px #ce181e
    }
}



.create-new-bank {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 100px;
    height: 100px;
    transform: translateX(-50%);
    background-color: #537b35;
    color: #fff;
    border-radius: 50%;
    font-size: 1rem;
    box-shadow: 0 0 10px gray;
    &:disabled {
        opacity: .4;
    }
}