.header {
    width: 100%;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0  10px #000;
    background-color: #b4a996;
    margin-bottom: 15px;
}

.header__app-logo {

}

.header__app-logo-icon {
    width: 45px;
    height: 45px;
    fill: #ffc20e;
}

.header__logout-btn {
    background-color: transparent;
}

.header__logout-icon {
    width: 25px;
    height: 25px;
}

.balance-display {
    display: flex;
    align-items: center;
}
.balance-display__title {
    font-weight: 700;
    margin-right: 15px;
}

.balance-display__value {
    font-size: 1.25rem;
}